.main__container {
  width: 100%;
  color: #5c5c64;
  margin: 0px;
  flex-wrap: nowrap;
}

.main__items {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-wrap: nowrap;
  padding-top: 3px;
  padding-bottom: 3px;
}

.ad__img {
  padding: 2px;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(13, 38, 59, 1);
}
.main__ad {
  height: 40vh;
}

.current-ad {
  background-color: seagreen;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.nav__img {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previous__next {
  height: 3.5rem;
}

.ad__sublist {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: space-evenly;
  align-content: space-evenly;
}

.ad__thumbnail {
  width: 100%;
}

.small__ad {
  height: 15vh;
  padding-top: 2px;
  margin: 3px;
}

.selected__ad {
  background-color: grey;
}

.rating {
  background-color: rgb(191, 210, 225);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: space-evenly;
  align-content: space-evenly;
}
.ratings__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: space-evenly;
  align-content: space-evenly;
}

.emoji__likes__dislikes {
  padding: 3px;
}

.emoji__img {
  height: 3.5rem;
  width: 3.5rem;
}

.count__likes__dislikes {
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: space-evenly;
  align-content: space-evenly;
}

.exit {
  padding: 0 2px;
  height: 1.5rem;
  width: 1.5rem;
}

.exit__text {
  text-transform: uppercase;
}
