.main__container {
  width: 100%;
  color: #5c5c64;
}

.main__wave {
  padding-top: 2rem;
}

.main__items {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 3px;
}

.text__col {
  color: #e3e5ff;
  background-color: rgba(68, 106, 139, 1);
  border-radius: 3px;
}

.main__emoji {
  height: 3rem;
}

.waving-hand {
  height: 4rem;
  animation: rotation 1.5s infinite linear;
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

.wave__text {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.main__emojis {
  margin-top: 2rem;
}

.main__text {
  text-transform: uppercase;
}
